@CHARSET "UTF-8";




html, body {
 margin: 0;
 padding: 0;
 }
 
 body {
 background-color: #D8D8D8;
 font-family:"trebuchet ms",sans-serif;
 font-size:100%;
 height:100%;
 width:100%;
 }
 
 body header {

    background: #2ECCFA;
     height: 10%; 
     margin-left:10%;
     margin-top:3%; 
     margin-right:10%;
 }
 
body section{
	
	background:#A9E2F3;
	height:80%; 
	margin-left:10%; 
	margin-right:10%;
}

.menu{
	background:#4C0B5F;
	margin-left:20px; 
	height:50%; 
	margin-top:30px; 
	margin-bottom:30px; 
	float: left; 
	width:25%; 
	overflow:hidden;
	
}

.content{
	
	background:#8A0808;
	margin-left:20px; 
	height:90%; 
	margin-top:30px; 
	margin-bottom:5px; 
	float: left; 
	width:70%;
	
}
  

body footer {
	
	background:#9AFE2E;
	height:10%; 
	margin-left:10%; 
	margin-right:10%;
  
}
    
    
:/* required
{
    background-color: white;
}


form {
 background-color:#F5F5F5;
 padding:auto;
 width:auto;
 }
 
fieldset {
 margin-left: auto;
 margin-right: auto;
 padding:30px ;
 margin-bottom:20px;
 border:2px solid #4682B4;
 
 }
 
 fieldset.pere{
  	width:800px;
 	padding:30px ;
	margin-bottom:20px;
 	border:3px solid #4682B4;
 }
 
 
 h1{
 margin-top:100px;
 color:#4682B4;
 text-align:center;
 }
 
 
legend {
 font-size:120%;	
 color:#000000;
 font-weight:bold

 }
 
label {
 margin-top:5px;
 font-weight:bold
 }
 
label.inline {
	
 display:inline;
 margin-right:50px;
 }
 
input, select, option {
 background-color:#87CEEB;
 }
 
 
input, textarea, select {
 padding:3px;
 border:1px solid #F5C5C5;
 border-radius:5px;
 width:300px;
 box-shadow:4px 1px 2px #C0C0C0 inset;
 }
 
select {
	
 margin-top:10px;
 
 }
 
input[type=radio] {
 background-color:transparent;
 border:none;
 width:10px;
 }
 
input[type=submit], input[type=reset],input[type=button] {
 width:100px;
 margin-left:10px;
 box-shadow:1px 1px 1px #800000;
 cursor:pointer;
 }
 
 a:link {
 color: white;
 text-decoration: underline;
 }
a:visited {
 color: gray;
 }
body header a:hover {
 color: #6495ED;
 text-decoration: none;
}

body footer a:hover {
 color: #4682B4;
 text-decoration: none;
}

body artiche a:hover {
 color: #800000;
 text-decoration: none;
}
a:active, a:focus {
 color: red;
}


<!-- mise en forme propre a la page connexion --> 

  fieldset.connexion{
  	margin-top:100px;
  	margin-left: 300px;
 	margin-right: 300px;
 	padding:50px ;
	margin-bottom:20px;
 	border:3px solid #4682B4;
 
 }
 
 fieldset.connexion input{
  	padding:6px;
 	border:1px solid #F5C5C5;
 	border-radius:5px;
    width:300px;
	box-shadow:4px 1px 2px #C0C0C0 inset;
	font-size:125%;
	
 }
 
  fieldset.connexion legend{
	font-size:150%;
 }
 
 

 
 article aside #menu, #menu ul Liste     
{
        padding : 0; pas de marge intérieure
        margin : 0; ni extérieure
        list-style : none; on supprime le style par défaut de la liste
        line-height : 55px; on définit une hauteur pour chaque élément
        text-align : center; on centre le texte qui se trouve dans la liste
        
        
}

#menu Ensemble du menu
{
        font-weight : bold; on met le texte en gras
        font-family : Arial; on utilise Arial, c'est plus beau ^^
        font-size : 18px; hauteur du texte : 20 pixels
}

#menu a Contenu des listes
{
        display : block; on change le type d'élément, les liens deviennent des balises de type block
        padding : 0; aucune marge intérieure
        background : #1E90FF; couleur de fond        
        color : #fff; couleur du texte
        text-decoration : none; on supprime le style par défaut des liens (la plupart du temps = souligné)
        width : 250px; largeur
        border-radius:{10px 10px 0 0;}
        
        
}

#menu > li > a {  Formes arrondis menus
	border-radius: 1em 1em 0 0;
	
}


#menu li Éléments des listes      
{ 
        float : left; 
        pour IE qui ne reconnaît pas "transparent"
        border-right : 1px solid #fff; on met une bordure blanche à droite de chaque élément
}

IE ne reconnaissant pas le sélecteur ">"
html>body #menu li
{
        border-right: 1px solid transparent ; on met une bordure transparente à droite de chaque élément
}

#menu li ul Sous-listes
{ 
        position: absolute; Position absolue
        width: 250px; Largeur des sous-listes
        left: -999em; Hop, on envoie loin du champ de vision
}


#menu li ul li Eléments de sous-listes
{
        pour ie qui ne reconnaît pas "transparent" (comme précédemment)
        border-top : 1px solid #fff; on met une bordure blanche en haut de chaque élément d'une sous-liste
}

IE ne reconnaissant pas le sélecteur ">"
html>body #menu li ul li                
{
        border-top : 1px solid transparent; on met une bordure transparente en haut de chaque élément
}

#menu li ul ul 
{
        margin    : -22px 0 0 144px ; On décale les sous-sous-listes pour qu'elles ne soient pas au dessus des sous-listes 
        pour IE qui ne reconnaît pas "transparent" (comme précédemment)
        border-left     : 1px solid #fff ; Petite bordure à gauche pour ne pas coller ...      
}

IE ne reconnaissant pas le sélecteur ">" ... je me répète ;-)
html>body #menu li ul ul                
{
        border-left     : 1px solid transparent ; on met une bordure transparente sur la gauche de chaque élément
}

#menu a:hover Lorsque la souris passe sur un des liens    
{
        color: #1E90FF; On passe le texte en noir...
        background: #fff; ... et au contraire, le fond en blanc
}

#menu li ul li a 
{
         background     : #87CEFA;
         line-height : 50px; on définit une hauteur pour chaque élément
        
}


#menu ul {
    position: absolute;
on cache les sous menus complètement sur la gauche
    left: -999em;
    text-align: center;
    z-index: 1000;
}

#menu li:hover ul {
Au survol des li du menu on replace les sous menus
    left: auto;
}






article, header,aside, footer, img {
  display: block;
}


    

    
    
header img

{  
	
    width: 180px;
    height: 70px;
     
}



#others ul
{
    list-style-type: none;
  
}

#others li
{
    margin-right: 5px;
}

body header #others a
{
   
    color: #181818;
    padding-bottom: 1px;
    text-decoration: none;
}


#logoUniv{
	
  
	float: left;
}

#logoAppli{
	float: right;
  
   
}


 */