@CHARSET "UTF-8";


html, body {
 margin: 0;
 padding: 0;
 }
 
 
 body {
	background-color: #fff;
	font-family: 'OpenSans';
	margin-left: 10%;
	margin-right: 10%;
	margin-top: 4%;
	margin-bottom: 4%;
}

 
 body header {

    background-color: #A9C7CB;
	border-bottom: 1px solid #e6e6e6;
	padding: 27px ;
	height: 27px;
	color: white;
	
 }
 

 
 #others ul>li, a
{
    
    display: inline-flex;
    text-decoration:none;
    list-style:none;
   
   
  
}


.header{
	display: flex;
	justify-content: flex-end;
	
}
 
body section{
	
	min-height: 510px;
	background-color: #E6E6E6;
	display: flex;
}

.privilege{
	
	display: flex;
	
	
}


.menu{
	background:#0489B1;
	margin-left:20px; 
	height:50%; 
	margin-top:30px; 
	margin-bottom:30px; 
	float: left; 
	width:25%; 
	overflow:hidden;
	
	
}



.verticalaccordion>ul {
    margin: 0;
    padding: 0;
    list-style:none;
   	width: 500px;
}

.verticalaccordion>ul>li {
    display:block;
    margin: 0;
    padding: 0;
    list-style:none;
	width: 500px;

    /* Decorative CSS */
    background-color:#E6E6E6;
}

.verticalaccordion>ul>li>h3 {
    display:block;
    margin: 0;
    padding:10px;
    height:19px;
	font-size:95%;
    /* Decorative CSS */
    border-top:#f0f0f0 1px solid;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration:none;
    text-transform:uppercase;
    color: white;
    background: #0489B1;
}

.verticalaccordion>ul>li>a{
    display:block;
    margin: 0;
    padding:10px;
    height:19px;
	font-size:95%;
    /* Decorative CSS */
    border-top:#f0f0f0 1px solid;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration:none;
    text-transform:uppercase;
    color: white;
    background: #0489B1;
}

.verticalaccordion>ul>li>div {
    margin:0;
    overflow: auto;
    padding:10px;
    height:220px;
}

.verticalaccordion:hover>ul>li:hover>h3 {
    /* Decorative CSS */
    color:#fff;
    background: #000000;
}

#myul>li {
	display:block;
    margin: 0;
    padding: 0;
    list-style:none;
    /* Decorative CSS */
    background-color:#96CED2;
}
#myul>li>a{
    display:block;
    margin: 0;
    padding:10px;
    height:19px;
	font-size:95%;
    /* Decorative CSS */
    border-top:#f0f0f0 1px solid;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration:none;
    text-transform:uppercase;
    color: white;
    background: #96CED2;
}


#myul>li a:hover Lorsque la souris passe sur un des liens    
{
        color: #96CED2; On passe le texte en noir...
        background: white; ... et au contraire, le fond en blanc
}


.content{
	
	background:white;
	margin-left:20px; 
	height:90%; 
	margin-top:30px; 
	margin-bottom:5px; 
	float: left; 
	width:70%;
	
}
  
  


body footer {
	
	background-color: #4B686A;
	border-top: 1px solid #d8d8d8;
	padding: 30px 0;
	text-align: center;
	color: white;
}

fieldset.pere{
  	width:auto;
  	height:auto;
 	padding:3% ;
 	border:3px solid #4682B4;
 }
  
 fieldset {
 margin-left: auto;
 margin-right: auto;
 padding:3% ;
 margin-bottom:20px;
 border:2px solid #4682B4;
 
 }  
 
 legend {
 font-size:110%;	
 color:#000000;
 font-weight:bold;

 }
 
 label {
 margin-top:4px;
 font-weight:bold;
 color:#2C3439;
 }
    
    
    
 span.affichage{
 
 	font-weight:normal;
 }
 
 span.error{
 	
 	font-weight: bold;
 	color: #c42622;
 }
 
 span.succes{
 	
 	font-weight: bold;
 	color: #1c5971;
 	
 }
 
 span.requis{
 	
 	font-weight: bold;
 	color: #ff0606;
 	
 }
 
 
input[type=radio],input[type=checkbox] {

 margin-left:15px;
 width:20px;

 } 
 
 
input[type=submit], input[type=reset],input[type=button] {
 width:100px;
 margin-left:10px;
 
 box-shadow:1px 1px 1px #A9C7CB;
 cursor:pointer;
 }


 
 
 input, textarea, select {
 padding:2px;
 border:1px solid #F5C5C5;
 border-radius:5px;

 box-shadow:4px 1px 2px #C0C0C0 inset;
 }
 
 
 a:link {
 color: white;
 text-decoration: underline;
 }
 
a:visited {
 color: gray;
 }
 
body header a:hover {
 color: #0489B1;
 text-decoration: none;
}



body footer a:hover {
 color: #0489B1;
 text-decoration: none;
}

body article a:hover {
 color: #800000;
 text-decoration: none;
}

a:active, a:focus {
 color: red;
}



/*  Mise en forme tableau d'affichage de la liste des demandes, utilisateurs...*/

table
{
    border-collapse: collapse;
    
}

td, th /* Mettre une bordure sur les td ET les th */
{
    border: 1px solid black;
    border-width: 1px;
}

tr.pair{
	background-color: #efefef;
}

tr.impair{
	background-color: #c9c9c9;	
}
 
 

#logoAppli, #logoUniv{
	 width: 10px;
    height: 10px;
  
}


#privilege
{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
 
}

.role{
	
	width:160px;
	height:200px;
	background-color:#b9dddd;
	border-radius:5px;
	
	
}
#clas{
	
	width:160px;
	background-color:#0489B1;
	color:white;
	
	
}

 
:/* required
{
    background-color: white;
}




 
label.inline {
	
 display:inline;
 margin-right:50px;
 }
 
input, select, option {
 background-color:#87CEEB;
 }
 
 


<!-- mise en forme propre a la page connexion --> 

  fieldset.connexion{
  	margin-top:100px;
  	margin-left: 300px;
 	margin-right: 300px;
 	padding:50px ;
	margin-bottom:20px;
 	border:3px solid #4682B4;
 
 }
 
 fieldset.connexion input{
  	padding:6px;
 	border:1px solid #F5C5C5;
 	border-radius:5px;
    width:300px;
	box-shadow:4px 1px 2px #C0C0C0 inset;
	font-size:125%;
	
 }
 
  fieldset.connexion legend{
	font-size:150%;
 }
 
 

 
 article aside #menu, #menu ul Liste     
{
        padding : 0; pas de marge intérieure
        margin : 0; ni extérieure
        list-style : none; on supprime le style par défaut de la liste
        line-height : 55px; on définit une hauteur pour chaque élément
        text-align : center; on centre le texte qui se trouve dans la liste
        
        
}

#menu Ensemble du menu
{
        font-weight : bold; on met le texte en gras
        font-family : Arial; on utilise Arial, c'est plus beau ^^
        font-size : 18px; hauteur du texte : 20 pixels
}

#menu a Contenu des listes
{
        display : block; on change le type d'élément, les liens deviennent des balises de type block
        padding : 0; aucune marge intérieure
        background : #1E90FF; couleur de fond        
        color : #fff; couleur du texte
        text-decoration : none; on supprime le style par défaut des liens (la plupart du temps = souligné)
        width : 250px; largeur
        border-radius:{10px 10px 0 0;}
        
        
}

#menu > li > a {  Formes arrondis menus
	border-radius: 1em 1em 0 0;
	
}


#menu li Éléments des listes      
{ 
        float : left; 
        pour IE qui ne reconnaît pas "transparent"
        border-right : 1px solid #fff; on met une bordure blanche à droite de chaque élément
}

IE ne reconnaissant pas le sélecteur ">"
html>body #menu li
{
        border-right: 1px solid transparent ; on met une bordure transparente à droite de chaque élément
}

#menu li ul Sous-listes
{ 
        position: absolute; Position absolue
        width: 250px; Largeur des sous-listes
        left: -999em; Hop, on envoie loin du champ de vision
}


#menu li ul li Eléments de sous-listes
{
        pour ie qui ne reconnaît pas "transparent" (comme précédemment)
        border-top : 1px solid #fff; on met une bordure blanche en haut de chaque élément d'une sous-liste
}

IE ne reconnaissant pas le sélecteur ">"
html>body #menu li ul li                
{
        border-top : 1px solid transparent; on met une bordure transparente en haut de chaque élément
}

#menu li ul ul 
{
        margin    : -22px 0 0 144px ; On décale les sous-sous-listes pour qu'elles ne soient pas au dessus des sous-listes 
        pour IE qui ne reconnaît pas "transparent" (comme précédemment)
        border-left     : 1px solid #fff ; Petite bordure à gauche pour ne pas coller ...      
}

IE ne reconnaissant pas le sélecteur ">" ... je me répète ;-)
html>body #menu li ul ul                
{
        border-left     : 1px solid transparent ; on met une bordure transparente sur la gauche de chaque élément
}



#menu li ul li a 
{
         background     : #87CEFA;
         line-height : 50px; on définit une hauteur pour chaque élément
        
}


#menu ul {
    position: absolute;
on cache les sous menus complètement sur la gauche
    left: -999em;
    text-align: center;
    z-index: 1000;
}

#menu li:hover ul {
Au survol des li du menu on replace les sous menus
    left: auto;
}




  

    
    
header img

{  
	
  
     
}



#others ul
{
    list-style-type: none;
  
}

#others li
{
    margin-right: 5px;
}

body header #others a
{
   
    color: #181818;
    padding-bottom: 1px;
    text-decoration: none;
}




 */